<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="assets/demo.css" />
  <link rel="stylesheet" type="text/css" href="assets/newstyle.css" />
  <link rel="stylesheet" type="text/css" href="assets/style.css" />

  <link rel="stylesheet" type="text/css" href="assets/item.css" />

  <style type="text/css">
      h1{text-align:center;font-size:54px;font-family:Times,serif;font-variant:small-caps;color:#330066;}
      h2{text-align:left;font-size:28px;font-family:Times,serif;font-variant:small-caps;color:#330066;}
  </style>
</head>



<div id="container_demo" >
  <div class="wrapper">
    <div class="show">

    <h2>About Us</h2>
<p>Welcome to shopwithus.com, the ultimate source for major fashion brands. Maximum selection. Shop-when-you-want-to ease. Authentic style. It's all at your fingertips. </p>


<p>  Our range of leading t-shirts and accessories are available in more than 110 countries, allowing individuals around the world to express their personal style.</p>

 <p> shopwithus.com gives you direct access to the whole range. Plus exclusive offers, fit expertise and helpful clothes-finding tools to make getting a great pair of t-shirt quick and easy. So if you don't live near one of the major brand Stores, it's not a problem. We're just a click away.

   shopwithus.com For men.  For whenever the mood strikes you.</p><p> Your fashion is waiting.</p>
    </div>
  </div>
</div >
</html>