<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="assets/demo.css" />
  <link rel="stylesheet" type="text/css" href="assets/newstyle.css" />
  <link rel="stylesheet" type="text/css" href="assets/style.css" />

  <link rel="stylesheet" type="text/css" href="assets/item.css" />

  <style type="text/css">
      h1{text-align:center;font-size:54px;font-family:Times,serif;font-variant:small-caps;color:#330066;}
      h2{text-align:left;font-size:28px;font-family:Times,serif;font-variant:small-caps;color:#330066;}
  </style>
</head>



<div id="container_demo" >
  <div class="wrapper">
    <div class="show">

      <h2>Contact Us</h2>
      <p>We are available 24/7 at your service. </p>


      <p>  you can either contact us by email- <u>shopwithus@hotmail.com</u>.</p>

      <p> or directly call us at- +4917684670990</p>
      <p> We are happy to help.</p>
    </div>
  </div>
</div >
</html>